@model System.Data.DataTable
@{
    ViewBag.Title = "OrderList";
}

<h2>ListOrder</h2>
<a href="@Url.Action("Manage","Order")">Add CustomerOrder</a>

<a href="@Url.Action("Logout","Order")">Logout</a>
<table class="table table-bordered table-striped">
    <tr>
        <th>Order No</th>
        <th>Customer Name</th>
        <th>Purchase Date</th>
        <th></th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][2]</td>
            <td>
                @Html.ActionLink("Edit", "Manage", new { mid = Model.Rows[i][1] })

            </td>
            <td>
                <a href="@Url.Action("Delete","Order",new { @id = Model.Rows[i][1]})">Delete</a>
            </td>
        </tr>
    }
</table>
